html{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      color-scheme: dark;
  }

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(66, 95, 99);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

hr{
    width: 200px;
    border-color: rgba(255, 255, 255, 0.504);
  }